<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056726774969-guvpd1vp7363vdnnjpujo4j7gf5b59ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056726774969-guvpd1vp7363vdnnjpujo4j7gf5b59ud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1056726774969-92u53um8oolkgi7a2h1vnvtpb9jv3cfe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqoFiUqaWrphEp7YxCo5j48Y9_ggvAn4o</string>
	<key>GCM_SENDER_ID</key>
	<string>1056726774969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppRoute</string>
	<key>PROJECT_ID</key>
	<string>todo-app-route-3c50f</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-route-3c50f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056726774969:ios:cd61c1715e9b55ad83d768</string>
</dict>
</plist>